* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 1.2em;
}

header {
    width: 650px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin: 1rem;
    color: lightslategray;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    background-color: silver;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
}

legend {
    padding: 0.5rem;
    font-size: 1.3em;
    font-weight: bold;
    color: #555;
}

label, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
}
    
label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    padding: .75rem;
    background-color: darkviolet;
    color: white;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: coral;
}

footer {
    width: 650px;
    margin: 1rem 0 auto;
    text-align: center;
    padding: 1rem;
    font-size: 0.8em;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 2fr 1fr;
    margin: 0.5rem 0;
}