* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 1px;
    left: 60px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px silver;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #aaa;
    text-align: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

/*class selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #aaa;
    color: #000;

}